.con {
  display: flex;
  list-style: none;
  justify-content: center;
}

.page {
  padding: 10px;
  border: 2px solid #97ce4c;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
}

.disabled {
  cursor: not-allowed;
}

.active {
  border: 2px solid #000;
  font-weight: bold;
  background-color: #97ce4c;
}

.previous {
  padding: 10px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.break {
  padding: 10px;
}

.next {
  border-radius: 6px;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.inp {
  background-color: black;
  border-radius: 6px;
  padding: 2px;
  border: 2px solid #97ce4c;
  color: #08bae3;
}
